streamlit
pytesseract
Pillow
googletrans==4.0.0-rc1
transformers
torch
torchvision
torchaudio
reportlab

streamlit
pytesseract
pillow
googletrans==4.0.0-rc1
reportlab
requests
json5

streamlit
pytesseract
Pillow
googletrans==4.0.0-rc1
reportlab
requests
